@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  background-image: url("../public/assets/bg-brainny-purple.png");
  background-position: center;
  background-size: cover;
}
.bg-brainny {
  min-height: 100%;
  height: 100%;
  mix-blend-mode: luminosity;
  opacity: 0.5;
}

.bg-brainny-color {
  min-height: 100%;
  height: 100%;
  background: rgba(33, 0, 104, 0.6);
  backdrop-filter: blur(25px);
  mix-blend-mode: luminosity;
  position: absolute;
  top: 0;
  left: 0;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.points-control {
  color: #8A53FF;
}
.plans-button {
  background-color: #8A53FF;
}

.landing-container {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
